<% if @people.empty? %>
  <p>
    There are no <%= @page_title.downcase %>.
  </p>
<% else %>
  <h1><%= @page_title %></h1>
  <ol class="report">
    <% @people.each do |person| %>
      <li><%= link_to person.name, url_to_person(person.id) %></li>
    <% end %>
  </ol>
<% end %>
