body, p, ol, ul, td {
  line-height: 18px;
}

pre {
  padding: 10px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  padding: 2px;
  display: table;
}

#error_explanation {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
}

	#error_explanation h2 {
	  text-align: left;
	  padding: 5px 5px 5px 15px;
	  margin: -7px;
	  margin-bottom: 0px;
	}

	#error_explanation ul li {
	  list-style: square;
	}
