/* START: clean slate */
body, p, h1, h2, h3, h4, h5, h6, ol, ul, li, form, td {
  line-height: 18px;
	margin: 0;
	padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 18px;
}

/* END: clean slate */

#page_header {
	padding: 0.125em 1em;
}

#page_body {
}

#main {
	float: left;
	margin: 1em;
	padding: 1em;
}

#main ol, ul {
	margin-left: 2em;
}

#sidebar {
	float: left;
	margin: 1em;
	width: 20%;
}

#sites {
	margin-bottom: 1em;
	padding: 1em;
}

#reports {
	margin-top: 1em;
	padding: 1em;
}

#page_footer {
	clear: both;
	text-align: center;
}

.flash {
  padding: 0.5em;
  display: table;
}

pre {
  padding: 10px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  padding: 2px;
  display: table;
}

#error_explanation {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
}

	#error_explanation h2 {
	  text-align: left;
	  padding: 5px 5px 5px 15px;
	  margin: -7px;
	  margin-bottom: 0px;
	}

	#error_explanation ul li {
	  list-style: square;
	}
