body {
	background-color: #ccc;
	color: #333;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
}

	body h1, h2, h3, h4, h5, h6 {
		color: #555;
	}

a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted;
}

	a:visited {
		color: #333;
	}

	a:hover {
		color: #fff;
		background-color: #333;
	}

#page_header {
	background-color: #444;
}

	#page_header h1 {
		color: white;
		font-size: 200%;
		font-weight: bolder;
	}

	#page_header p {
		color: white;
	}

	#page_header a {
		color: white;
		text-decoration: none;
		border-bottom: 1px dotted white;
	}

		#page_header a:hover {
			color: #444;
			background-color: white;
		}

#app_title a {
	border: none;
}

	#app_title a:hover {
		background-color: #444;
		color: white;
	}

#user_nav {
	text-align: right;
}

#page_body {
}

#main {
	background-color: white;
}

.report ol {
	font-family: 'Anonymous Pro', monospace;
}

#sidebar {
	background-color: #eee;
}

	#sidebar h3 {
		text-transform: lowercase;
	}

#page_footer {
	background-color: #777;
	color: #efefef;
}

#flash_alert, #flash_error {
	background-color: #f8e0e0;
  color: red;
}

#flash_notice {
	background-color: #e0f8e0;
  color: green;
}

/* rounded corners */

#main, #sidebar, .flash {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* debug */
/*
#page_header, #page_body, #main, #sidebar, #sites, #reports, #page_footer {
	border: 1px dotted black;
}
*/

pre {
  background-color: #eee;
  font-size: 11px;
}

.field_with_errors {
  background-color: red;
}

#error_explanation {
  border: 2px solid red;
  background-color: #f0f0f0;
}

	#error_explanation h2 {
	  font-weight: bold;
	  font-size: 12px;
	  background-color: #c00;
	  color: #fff;
	}

	#error_explanation ul li {
	  font-size: 12px;
	}
