<% if @kases.empty? %>
  <p>
    There are no <%= @page_title.downcase %>.
  </p>
<% else %>
  <h1><%= @page_title %></h1>
  <ol class="report">
    <% @kases.each do |kase| %>
      <li><%= link_to kase.name, url_to_kase(kase.id) %></li>
    <% end %>
  </ol>
<% end %>
