<% if @kases.empty? %>
  <p>
    There are no open cases.
  </p>
<% else %>
  <h1>Open Cases</h1>
  <ol class="report">
    <% @kases.each do |kase| %>
      <li><%= link_to kase.name, @current_site.url+'/kases/'+kase.id.to_s %></li>
    <% end %>
  </ol>
<% end %>
