<h1>Bienvenido!</h1>

<p>
  Esta es <b>Superintendent</b>, una aplicación web sencilla para gestionar los datos en sus sitios de <%= link_to "Highrise", "http://highrisehq.com" %> de 37signals.
</p>

<p>
  Para comenzar, use los vínculos a la izquierda para:
  <ol>
    <li>Ingresar la información sobre su sitio (incluyendo su token de API).</li>
    <li>Seleccionar cualquiera de los reportes disponibles.</li>
  </ol>
</p>
