<h1>Welcome!</h1>

<p>
  This is <b>Superintendent</b>, a simple web application to help manage your 37signals <%= link_to "Highrise", "http://highrisehq.com" %> sites.
</p>

<p>
  To start, using the links in the left-hand sidebar:
  <ol>
    <li>Enter your site info (including your API token).</li>
    <li>Click on any of the available reports.</li>
  </ol>
</p>
