<h1>Sites</h1>

<% if @sites.empty? %>
  <p>
    You have not yet registered any sites.
  </p>
<% else %>
  <ul>
  <% @sites.each do |site| %>
    <li><%= link_to site.name, site %></li>
  <% end %>
  </ul>
<% end %>

<p>
  <%= link_to 'New Site', new_site_path %>
</p>
