<h1><%= t(:sites_title) %></h1>

<% if @sites.empty? %>
  <p>
    <%= t(".no_sites") %>.
  </p>
<% else %>
  <ul>
  <% @sites.each do |site| %>
    <li><%= link_to site.name, site %></li>
  <% end %>
  </ul>
<% end %>

<p>
  <%= link_to t(".new_site"), new_site_path %>
</p>
